<% for(var j = 0; j < project.nbSprint; j++) {%>
    
        <div style="margin-bottom: 2em; ">
            <div>
                <h5>
                    Sprint <%= j+1 %>
                </h5>
            </div>
            <table class="table table-hover table-sm table-striped">
                <thead>
                    <th scope="col" class="text-center">ID US</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="text-center">Difficulté</th>
                    <th scope="col" class="text-center">Importance</th>
                    <th scope="col" class="text-center">Etat</th>
                </thead>
                <tbody>
                    <!-- Loop through quotes -->
                    <% for(var i = 0; i < project.us.length; i++) {%>
                        <% if(project.us[i].plannification == project.sprint[j].id){ %>
                            <tr>
                                <td class="text-center align-middle"><span>US#<%= project.us[i].id %></span></td>
                                <td class="text-center align-middle"><span>En tant que <%= project.us[i].entantque %>, je souhaite <%= project.us[i].jesouhaite %> afin de <%= project.us[i].afinde %> </span></td>
                                <td class="text-center align-middle"><span><%= project.us[i].difficulte %></span></td>
                                <td class="align-middle text-center"><h5>
                                    <% if (project.us[i].importance == 'Haute') {%>
                                        <span class="badge badge-pill badge-danger fullWidth"><%= project.us[i].importance %></span>
                                    <% } %>
                                    <% if (project.us[i].importance == 'Moyenne-Haute') {%>
                                        <span class="badge badge-pill badge-moyenne-haute fullWidth"><%= project.us[i].importance %></span>
                                    <% } %>
                                    <% if (project.us[i].importance == 'Moyenne-Basse') {%>
                                        <span class="badge badge-pill badge-warning fullWidth"><%= project.us[i].importance %></span>
                                    <% } %>
                                    <% if (project.us[i].importance == 'Basse') {%>
                                        <span class="badge badge-pill badge-success fullWidth"><%= project.us[i].importance %></span>
                                    <% } %>
            
                                </h5></td>
                                <td class="align-middle text-center"><h5>
                                    <% if (project.us[i].etat == 'PLANIFIEE') {%>
                                        <span class="badge badge-pill badge-etat fullWidth"><%= project.us[i].etat %></span>
                                    <% } %>
                                    <% if (project.us[i].etat == 'OUVERTE') {%>
                                        <span class="badge badge-pill badge-warning fullWidth"><%= project.us[i].etat %></span>
                                    <% } %>
                                    <% if (project.us[i].etat == 'FERMEE') {%>
                                        <span class="badge badge-pill badge-success fullWidth"><%= project.us[i].etat %></span>
                                    <% } %>
                                </td>
                            </tr>               
                        <%}%>
                    <% } %>
                </tbody>
            </table>
            <div style="float: right;">
                <% var cout = 0 %>
                <% var ticket = 0 %>
                <% for(var i = 0; i < project.us.length; i++) {%>
                    <% if(project.us[i].plannification == project.sprint[j].id){ %>
                        <% cout += parseInt(project.us[i].difficulte ,10) %>
                        <% ticket++ %>
                    <% } %>
                <% } %>
                <p>Coût total: <%= cout %> | <%= ticket %> tickets</p>
                
            </div>
        </div>
    
<% } %>

<div style="margin-bottom: 2em;">
    <div>
        <h5>
            Non plannifiées
        </h5>
    </div>
    <table class="table table-hover">
        <thead>
            <th scope="col" class="text-center">ID US</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-center">Difficulté</th>
            <th scope="col" class="text-center">Importance</th>
            <th scope="col" class="text-center">Etat</th>
        </thead>
        <tbody>
            <!-- Loop through quotes -->
            <% for(var i = 0; i < project.us.length; i++) {%>
                <% if(project.us[i].plannification == '-'){ %>
                    <tr>
                        <td class="text-center align-middle"><span>US#<%= project.us[i].id %></span></td>
                        <td class="text-center align-middle"><span>En tant que <%= project.us[i].entantque %>, je souhaite <%= project.us[i].jesouhaite %> afin de <%= project.us[i].afinde %> </span></td>
                        <td class="text-center align-middle"><span><%= project.us[i].difficulte %></span></td>
                        <td class="text-center align-middle"><h5>
                            <% if (project.us[i].importance == 'Haute') {%>
                                <span class="badge badge-pill badge-danger fullWidth"><%= project.us[i].importance %></span>
                            <% } %>
                            <% if (project.us[i].importance == 'Moyenne-Haute') {%>
                                <span class="badge badge-pill badge-moyenne-haute fullWidth"><%= project.us[i].importance %></span>
                            <% } %>
                            <% if (project.us[i].importance == 'Moyenne-Basse') {%>
                                <span class="badge badge-pill badge-warning fullWidth"><%= project.us[i].importance %></span>
                            <% } %>
                            <% if (project.us[i].importance == 'Basse') {%>
                                <span class="badge badge-pill badge-success fullWidth"><%= project.us[i].importance %></span>
                            <% } %>
                        </h5></td>
                        <td class="align-middle text-center"><h5>
                            <% if (project.us[i].etat == 'FERMEE') {%>
                                <span class="badge badge-pill badge-etat fullWidth"><%= project.us[i].etat %></span>
                            <% } %>
                            <% if (project.us[i].etat == 'OUVERTE') {%>
                                <span class="badge badge-pill badge-success fullWidth"><%= project.us[i].etat %></span>
                            <% } %>
                        </td>
                    </tr>
                <%}%>
            <% } %>
        </tbody>
    </table>
    <div style="float: right;">
        <% var cout = 0 %>
        <% var ticket = 0 %>
        <% for(var i = 0; i < project.us.length; i++) {%>
            <% if(project.us[i].plannification == '-'){ %>
                <% cout += parseInt(project.us[i].difficulte ,10) %>
                <% ticket++ %>
            <% } %>
        <% } %>
        <p>Coût total: <%= cout %> | <%= ticket %> tickets</p>
    </div>
</div>