<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-rocket"></i>
        </div>
        <p class="my-2 sidebar-brand-text"> gestion de projet</p>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/projectList">
            <i class="fas fa-arrow-left"></i>
            <span>Liste des projets</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <% if (page == 'accueil'){ %>
        <li class="nav-item active">
    <%} else{%>
        <li class="nav-item">
    <%}%>
        <a class="nav-link" href="/projectView/<%= project._id %>/accueil">
            <i class="fab fa-elementor"></i>
            <span>Accueil</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    
    <div class="sidebar-heading">
        Gestion du projet
    </div>

    <!-- Nav Item - Charts -->
    <% if (page == 'sprints'){ %>
        <li class="nav-item active">
    <%} else{%>
        <li class="nav-item">
    <%}%>
    
        <a class="nav-link" href="/projectView/<%= project._id %>/sprint">
            <i class="fas fa-stopwatch"></i>
            <span>Sprints</span></a>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <% if (page == 'backlog'){ %>
        <li class="nav-item active">
    <%} else{%>
        <li class="nav-item">
    <%}%>
        <a class="nav-link" href="/projectView/<%= project._id %>/backlog">
            <i class="fas fa-th-list"></i>
            <span>Backlog</span>
        </a>
    </li>
   
    <!-- Nav Item - Utilities Collapse Menu -->
    <% if (page == 'tasks'){ %>
        <li class="nav-item active">
    <%} else{%>
        <li class="nav-item">
    <%}%>
        <a class="nav-link" href="/projectView/<%= project._id %>/tasks">
            <i class="fas fa-tasks"></i>
            <span>Tasks</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="far fa-check-square"></i>
            <span>Tests</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    <% if (page == 'release'){ %>
        <li class="nav-item active">
    <%} else{%>
        <li class="nav-item">
    <%}%>
        <a class="nav-link" href="/projectView/<%= project._id %>/release">
            <i class="far fa-file-archive"></i>
            <span>Release</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <% if (page == 'doc'){ %>
        <li class="nav-item active">
    <%} else{%>
        <li class="nav-item">
    <%}%>
        <a class="nav-link" href="/projectView/<%= project._id %>/doc">
            <i class="fas fa-book"></i>
            <span>Documentation</span></a>
    </li>

    <% if (role == 'Scrum Master'){ %>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Heading -->
        <div class="sidebar-heading">
            Administration
        </div>

     
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-calendar-alt"></i>
                <span>Planning</span></a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-users"></i>
                <span>&Eacute;quipe</span></a>
        </li>
    <%}%>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->


</ul>
<!-- End of Sidebar -->