<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include("../templates/header/headerProject")%>
    <script src="/vendor/chart.js/Chart.min.js" defer></script>
    <script src="/script/burndownchart.js" type="text/javascript" defer></script>

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("../templates/project/sideBar",{page: 'accueil', role: project.role})%>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <%- include("../templates/project/topbarProject",{page: 'accueil'})%>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <%- include("../templates/project/content/heading")%>
                </div>
                <div class="container-fluid spacex1">
                    <div class="row">
                        <div class="col-md-6">
                            <%- include("../templates/project/content/sprintOverview")%>
                        </div>
                    </div>
                    <div class="row spacex1">
                        <div class="col-md-6">
                            <%- include("../templates/project/content/burnDownChart")%>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End of Main Content -->

            <%- include("../templates/footer/footerProject")%>

        </div>
        <!-- End of Content Wrapper -->

    </div>
   
    <%- include("../templates/footer/footerProjectScript")%>
</body>

</html>