<div class="drag-container"></div>
<div class="board">
  <div class="board-column todo">
    <div class="board-column-container">
      <div class="board-column-header">Todo</div>
      <div class="board-column-content-wrapper">
        <div class="board-column-content">
          <% for(var i = 0; i < project.task.length; i++) {%>
            <% if(project.task[i].etat == "TODO") { %>
              <%- include("taskItem",{i: i, taskId: project.task[i].id, state: 'TODO', projectId: project._id})%>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="board-column working">
    <div class="board-column-container">
      <div class="board-column-header">DOING</div>
      <div class="board-column-content-wrapper">
        <div class="board-column-content">
          <% for(var i = 0; i < project.task.length; i++) {%>
            <% if(project.task[i].etat == "DOING") { %>
              <%- include("taskItem",{i: i, taskId: project.task[i].id, state: 'DOING'})%>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="board-column testing">
    <div class="board-column-container">
      <div class="board-column-header">REVIEWING-TESTING</div>
      <div class="board-column-content-wrapper">
        <div class="board-column-content">
          <% for(var i = 0; i < project.task.length; i++) {%>
            <% if(project.task[i].etat == "REVIEWING-TESTING") { %>
              <%- include("taskItem",{i: i, taskId: project.task[i].id, state: 'REVIEWING-TESTING'})%>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="board-column done">
    <div class="board-column-container">
      <div class="board-column-header">DONE</div>
      <div class="board-column-content-wrapper">
        <div class="board-column-content">
          <% for(var i = 0; i < project.task.length; i++) {%>
            <% if(project.task[i].etat == "DONE") { %>
              <%- include("taskItem",{i: i, taskId: project.task[i].id, state: 'DONE'})%>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% for(var i = 0; i < project.task.length; i++) {%>
  <%- include("infoTaskModal",{i: i, project: project})%>
  <% if(project.role == 'Scrum Master' || project.role == 'Développeur'){%>
    <%- include("modifyTaskModal",{i: i, project: project})%>
  <% } %>
<% } %>


