<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <form class="form-inline">
        <button type="button" class="btn btn-sm plusBtn" data-toggle="modal" data-target="#taskModal">
            <img src="/assets/plus-sign-in-a-white-circle.png" class="plusImg">
            Créer une Task
        </button>
    </form>
</div>


<div class="modal fade" id="taskModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Nouvelle Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="/projectView/<%=project._id%>/createTask" method="POST">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="description">Description:<span class="red">*</span></label>
                        <textarea class="form-control rounded-0" id="description" name="description"
                            placeholder="Créer le fichier index ..." rows="3" maxlength="500" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="dod">Definition of done (séparer les éléments par <kbd>/</kbd>):<span class="red">*</span></label>
                        <textarea class="form-control rounded-0" id="dod" name="dod" placeholder="Documenter / Tester / Review ..." rows="3" maxlength="500" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="duree">Durée (en demi-jour/Homme):<span class="red">*</span></label>
                        <input type="number" min="1" id="duree" name="duree" value="1" required>
                    </div>
                    <div class="form-group checkbox">
                        <label for="checkbox">Dépendences</label>
                        <% if (project.nbTask == 0) {%>
                            <p name="checkbox">Aucune Task créée</p>
                        <% } else {%>
                            <div class="checkbox" name="checkbox" id="checkbox">
                            <% for(var i = 0; i < project.task.length; i++) {%>
                                <label style="margin-right: 1em;">
                                    <input type="checkbox" name="dep[]" value="<%=project.task[i].id%>"> T#<%=project.task[i].id%>
                                </label>
                            <% } %>
                            </div>
                        <% } %>
                        
                    </div>
                    <div class="form-group checkbox">
                        <label for="checkbox">User Story relative à la Task:</label>
                        <% if (project.nbUs == 0) {%>
                            <p name="checkbox">Aucune US créée</p>
                        <% } else {%>
                            <div class="checkbox" name="checkbox2" id="checkbox2">
                            <% for(var i = 0; i < project.us.length; i++) {%>
                                <label style="margin-right: 1em;">
                                    <input type="checkbox" name="usRef[]" value="<%=project.us[i].id%>"> US#<%=project.us[i].id%>
                                </label>
                            <% } %>
                            </div>
                        <% } %>
                        
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Valider</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>